---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
  </div>
</main>
<!--PC版-->
<aside>
<div id="SOHUCS" ></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cyuiXHhTr',
conf: 'prod_51e86dde54ea532e0fcfcf1bcfb31528'
});
</script></aside>
